html, body {
	width: 100%;
	height: 100%;
	background-color: #000;
}

body {
	position: relative;
}

#main {
	width: 100%;
	height: 90%;
	position: absolute;
	top: 10%;
	background-color: #000;
}

#logo {
	@size: 160px;
	background: url('images/logo.png') center no-repeat;
	background-size: 100%;
	// background-color: #fff;
	width: @size;
	height: @size;
	border-radius: @size / 2;
	position: absolute;
	z-index:2;
	top: -@size/2;
	left: 50%;
	margin-left: -@size/2;
}


#welcome {
	@size: 260px;
	background: url('images/GO.png') center no-repeat;
	background-size: 100%;
	// background-size: 80%;
	// background-color: #90caf9;
	width: @size;
	height: @size;
	border-radius: @size;
	position: absolute;
	z-index:2;
	bottom: 18%;
	margin-bottom: -@size/3;
	left: 50%;
	margin-left: -@size/2;
	text-align: center;
	line-height: 48px;
	font-size: 26px;
	padding-top: 70px;
}

#advertise {
	width: 100%;
	height: 80%;
	background: url('images/bg_raw.png') center no-repeat;
	background-size: auto 100%;
	img {
		@w: 500px;
		width: @w;
		position: absolute;
		left:50%;
		margin-left: -@w/2;
		top:20%;
	}
}

#functions {
	@w: 500px;
	position: absolute;
	width: @w;
	height: 200px;
	background-image:url('images/functions.png');
	background-size:100%;
	background-position: center;
	background-repeat: no-repeat;
	top:50%;
	left: 50%;
	margin-left: -@w/2;

	.borrow {
		float: left;
		width: 50%;
		height: 100%;
	}

	.return {
		float: left;
		width: 50%;
		height: 100%;
	}

}

#lower_text {
	color: #fff;
	text-align: center;
	width: 100%;
	height: 20%;
	position: absolute;
	bottom: 0;
	padding-top: 70px;
	font-size: 40px;
	line-height: 48px;
}

#return {
	background: url('images/return.png') center no-repeat;
	background-size:100%;
	position: absolute;
	width: 120px;
    height: 50px;
    top: 4%;
    left: 8%;
    border-radius: 90px;
    text-align: center;
    line-height: 100%;
    font-size: 30px;
    line-height: 71px;
}

#instruction {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 3%;
	background: url('images/scan_qr.png') center no-repeat;
	background-size: 90%;
	background-position: center 0;
	border-radius: 30px;
	font-size: 30px;

	&.uu {
		background-image: url('images/scan_uucard.png');
	}
}

#instruction_hover {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 20%;
	font-size: 30px;
	text-align: center;
	line-height: 319px;
	background-image: url('images/scan_success.png');
	background-repeat: no-repeat;
	background-position: center 0 ;
	&.loading {
		background-image: url('images/loading.png');
	}
	&.fail {
		background-image: url('images/fail.png');
	}
	&.success {
		background-image: url('images/success.png');
	}
	&.returned {
		background-image: url('images/return_success.png');
	}
}

#arrow {
	@color:#999;
	position: absolute;
    width: 26%;
    left: 37%;
    top: 91%;
    height: 20%;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    .arrow-body {
    	width: 100%;
	    left: 40%;
	    background-color: @color;
	    top: 91%;
	    height: 60%
    }
    .arrow-head {
    	@width: 300px;
    	position: absolute;
    	left: 50%;
	    margin-left: -@width/2;
	    width: 0;
		height: 0;
		border-style: solid;
		border-width: 100px @width/2 0 @width/2;
		border-color: @color transparent transparent transparent;
    }
}

#big_logo {
	width: 100%;
	height: 100%;
	@size: 500px;
	#big_logo_image {
		background: url('images/thanks.png') center no-repeat;
		background-size: 100%;
		// background-color: #fff;
		position:absolute;
		top:50%;
		left: 50%;
		
		border-radius: @size/2;
		height: @size;
		width: @size;
		margin-top: -@size/2;
		margin-left: -@size/2;
	}
	#big_logo_text {
		width: 100%;
		position:absolute;
		font-size: 38px;
		color:#fff;
		text-align: center;
		top: 50%;
		margin-top: @size/2 + 50px;
	}
}

#preview {
	margin-top:15%;
	width: 80%;
    margin-left: 10%;
}